@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1rem;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-out;
}

body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    min-width: 360px;
    background: #F5F5F5;
    color: #005281;
}

div#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: #005281;
}

p {
    margin: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input,
select,
textarea,
button {
    font-family: inherit;
}